export KUBECONFIG=$PWD/.mgt-cluster-kubeconfig.yaml
export CLUSTER_TOPOLOGY=true
export CLUSTER_NAME=test-dfkhje
export SECRET_NAME=supersecret
export CLOUD_NAME=test
export ENCODED_CLOUDS_YAML=mybase64encodedcloudsyamlfile
## These env variables are not needed when local_mode is enabled
# export GIT_PROVIDER_B64=Z2l0aHVi
# export GIT_ACCESS_TOKEN_B64=mybase64encodedtoken
# export GIT_ORG_NAME_B64=U292ZXJlaWduQ2xvdWRTdGFjaw==
# export GIT_REPOSITORY_NAME_B64=Y2x1c3Rlci1zdGFja3M=
