---
allowed_contexts:
- kind-cspo
local_mode: false
deploy_cert_manager: true
preload_images_for_kind: true
kind_cluster_name: cspo
capi_version: v1.6.0
cso_version: v0.1.0-alpha.3
capo_version: v0.9.0
cert_manager_version: v1.13.1
